@import "~styles/colors";
@import "~styles/grid";
@import "~styles/mixins";

.filter-btn {
  @include hoverable();

  color: inherit;

  &__icon {
    display: inline-block;
    fill: currentColor;
  }
}

.filter {
  display: flex;
  line-height: 68px;
  background: map-get($colors, alpha);

  &__tools {
    margin-left: auto;
    display: flex;
  }

  &__btn {
    padding: 0 20px;
    height: 100%;
    border: 0;
    background: 0;
  }
}

.filter-list {
  $this: &;

  margin: 0;
  display: flex;
  padding: 0;
  list-style: none;

  &__item {
    display: inline-block;
    vertical-align: middle;

    & + & {
      margin-left: 22px;
    }
  }

  &__link {
    @include hoverable();

    padding: 0 22px;
    position: relative;
    display: block;
    color: inherit;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__icon {
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    width: 1em;
    height: 1em;
    fill: currentColor;
  }

  &__text {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    font-weight: 300;
  }

  &__item_active &__text::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 6px;
    background: currentColor;
    border-radius: 6px 6px 0 0;
  }
}
