<ul class="filter-list">
  <li class="filter-list__item filter-list__item_active">
    <a class="filter-list__link" href="#">
      <svg class="filter-list__icon">
        <use xlink:href="#new-things"></use>
      </svg>
      <span class="filter-list__text">Новинки</span>
    </a>
  </li>
  <li class="filter-list__item">
    <a class="filter-list__link" href="#">
        <svg class="filter-list__icon">
            <use xlink:href="#discounts"></use>
          </svg>
      <span class="filter-list__text">Скидки</span>
    </a>
  </li>
  <li class="filter-list__item">
    <a class="filter-list__link" href="#">
        <svg class="filter-list__icon">
            <use xlink:href="#bestsellers"></use>
          </svg>
      <span class="filter-list__text">Лидеры продаж</span>
    </a>
  </li>
  <li class="filter-list__item">
    <a class="filter-list__link" href="#">
      <svg class="filter-list__icon">
        <use xlink:href="#soons"></use>
      </svg>
      <span class="filter-list__text">Скоро в продаже</span>
    </a>
  </li>
</ul>

<div class="filter__tools">
  <button class="filter__btn filter-btn" type="button">
    <svg class="filter-btn__icon" width="11" height="20">
      <use xlink:href="#arrow-left"></use>
    </svg>
  </button>
  <button class="filter__btn filter-btn" type="button">
    <svg class="filter-btn__icon" width="11" height="20">
      <use xlink:href="#arrow-right"></use>
    </svg>
  </button>
</div>
