<div class="slider">
  <div class="slider__viewport">
    <div class="slide">
      <div class="slide__content">
        <h4 class="slide__title">Middle Earth: Shadow of Mordor</h4>
        <p class="slide__desc">
          фэнтезийный приключенческий экшен/RPG нового поколения. <br>
          «Тени Мордора» перенесут игроков в Средиземье, <br>
          где их ждет увлекательная история о мести и искуплении.
        </p>
        <a class="slide__buy" href="#">499 руб</a>
      </div>
    </div>
  </div>

 <div class="slider__btns">
   <button class="slider__btn slider__btn_prev" type="button">
      <svg class="slider__icon" width="14" height="27">
        <use xlink:href="#arrow-left"></use>
      </svg>
   </button>
   <button class="slider__btn slider__btn_next" type="button">
     <svg class="slider__icon" width="14" height="27">
       <use xlink:href="#arrow-right"></use>
     </svg>
   </button>
 </div>

  <div class="slider__pagination">
    <button class="slider__dot slider__dot_active" type="button"></button>
    <button class="slider__dot" type="button"></button>
    <button class="slider__dot" type="button"></button>
    <button class="slider__dot" type="button"></button>
    <button class="slider__dot" type="button"></button>
  </div>
</div>
