<header class="app-header">
    <a class="app-header__logo" href="#">
      <img src="assets/logo.png" alt="logo" width="247" height="37">
    </a>

    <ul class="app-header__menu main-menu">
      <li class="main-menu__item  main-menu__item_active">
        <a class="main-menu__link">Магазин</a>
      </li>
      <li class="main-menu__item">
        <a href="#" class="main-menu__link">Новости</a>
      </li>
      <li class="main-menu__item">
        <a href="#" class="main-menu__link">Преимущества</a>
      </li>
      <li class="main-menu__item">
        <a href="#" class="main-menu__link">Поддержка</a>
      </li>
      <li class="main-menu__item">
        <a href="#" class="main-menu__link">Акции</a>
      </li>
    </ul>

    <ul class="user-menu">
      <li class="user-menu__item">
        <a class="user-menu__link" href="#">Вход</a>
      </li>
      <li class="user-menu__item">
        <a class="user-menu__link" href="#">Регистрация</a>
      </li>
    </ul>

    <div class="app-header__tools">
      <a class="user-tool" href="#">
        <svg class="user-tool__icon">
          <use xlink:href="#basket"></use>
        </svg>
        <span class="user-tool__count count">4</span>
      </a>

      <button class="user-tool" type="button">
        <svg class="user-tool__icon">
          <use xlink:href="#magnifier"></use>
        </svg>
      </button>
    </div>
</header>
