@import "~styles/grid";

.product-grid {
  display: block;
  padding-left: map-get($offset, h);
  padding-right: map-get($offset, h);

  &__inner {
    margin-left: -2 * map-get($offset, h);
    margin-right: -2 * map-get($offset, h);
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: #{2 * map-get($offset, v)};
    margin-left: map-get($offset, h);
    margin-right: map-get($offset, h);
    $width: (100%/6);
    $basis: #{$width} - #{2 * map-get($offset, h)};
    flex: 1 1 calc(#{$basis});
    max-width: calc(#{$basis});
    display: inline-block;
    vertical-align: top;
  }
}
