@import "~styles/grid";

.app {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  width: map-get($grid, max-width);
  padding-left: map-get($offset, h);
  padding-right: map-get($offset, h);
}
