<ul class="benefits">
  <li class="benefits__item">
    <svg class="benefits__icon">
      <use xlink:href="#emoticon"></use>
    </svg>
    <span class="benefits__text">Регулярные акции <br>и скидки</span>
  </li>

  <li class="benefits__item">
    <svg class="benefits__icon">
      <use xlink:href="#friends"></use>
    </svg>
    <span class="benefits__text">Более 10 000 <br>покупателей</span>
  </li>

  <li class="benefits__item">
    <svg class="benefits__icon">
      <use xlink:href="#speedometer"></use>
    </svg>
    <span class="benefits__text">Круглосуточная <br>поддержка</span>
  </li>

  <li class="benefits__item">
    <svg class="benefits__icon">
      <use xlink:href="#cup"></use>
    </svg>
    <span class="benefits__text">Более 5 лет <br>успешной работы</span>
  </li>

  <li class="benefits__item">
    <svg class="benefits__icon">
      <use xlink:href="#rocket"></use>
    </svg>
    <span class="benefits__text">Мгновенная <br>доставка</span>
  </li>

  <li class="benefits__item">
    <svg class="benefits__icon">
      <use xlink:href="#wallet"></use>
    </svg>
    <span class="benefits__text">Любые способы <br>оплаты</span>
  </li>

  <li class="benefits__item">
    <svg class="benefits__icon">
      <use xlink:href="#controller"></use>
    </svg>
    <span class="benefits__text">Лицензионный <br>контент</span>
  </li>
</ul>
